@model IEnumerable<Inventory.ViewModels.InventoryIndex>
@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
@{
    ViewBag.Title = "Index";
}
<br />
<a class="btn btn-default" href="@Url.Action("Add", "Inventory")" title="Add To Inventory"><i class='fa fa-plus'></i><span>Add To Inventory</span></a>
<br />
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th data-gridcolumn="ItemName" data-gridfilter="false" title="Item; click to sort">Item</th>
            <th>Gender </th>
            <th>Size </th>
            <th>Age </th>
            <th>Location </th>
            <th>Quantity</th>
            <th class="action-header text-center">
                <span data-original-title="Help" data-placement="top"
                      data-toggle="popover" data-trigger="click hover focus"
                      data-content="Hover or click on a row to access the action buttons located at the end of the row.">
                    <i class="fa fa-info-circle"></i>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inv in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(o => inv.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(o => inv.ItemGender)
                </td>
                <td>
                    @Html.DisplayFor(o => inv.ItemSize)
                </td>
                <td>
                    @Html.DisplayFor(o => inv.ItemAge)
                </td>
                <td>
                    @Html.DisplayFor(o => inv.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(o => inv.Quantity)
                </td>
                <td class="btn-toolbar-cell">
                    <div class="btn-toolbar hover-toolbar">
                        <div class="btn-group">
                            <a class="btn btn-default btn-xs" href="@Url.Action("Edit", new { id = inv.InventoryId })" title="Modify Inventory"><i class="fa fa-pencil">Edit</i></a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
