@model IEnumerable<Inventory.Models.Inventory>
@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" />
@{
    ViewBag.Title = "Index";
}
<br />

<a href="@Url.Action("Create", "Inventory")"><i class='fa fa-plus'></i><span>Add Inventory</span></a>


@foreach (var inv in Model)
{
    @Html.DisplayFor(i => inv.ItemName);
    @Html.DisplayFor(i => inv.LocationName);
    @Html.DisplayFor(i => inv.Quantity);
}


