@model IEnumerable<Inventory.Models.Item>
@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
@{
    ViewBag.Title = "Index";
}
<br />

<a class="btn btn-default" href="@Url.Action("Create", "Item")" title="Create a new Item"><i class='fa fa-plus'></i><span>Create Item</span></a>

<table class="table table-condensed table-hover">
<thead>
    <tr>
        <th data-gridcolumn="=Name" data-gridfilter="false" title="Item Name; click to sort">Name</th>
        <th data-gridcolumn="=Name" data-gridfilter="false" title="Category Name; click to sort">Item Category</th>
        <th data-gridcolumn="=Name" data-gridfilter="false" title="Price; click to sort">Price</th>
        <th data-gridcolumn="=Name" data-gridfilter="false" title="Low limit; click to sort">LowLimit</th>
        <th data-gridcolumn="=Name" data-gridfilter="false" title="Gender; click to sort">Gender</th>
        <th data-gridcolumn="=Name" data-gridfilter="false" title="Size; click to sort">Size</th>
        <th data-gridcolumn="=Name" data-gridfilter="false" title="Age; click to sort">Age</th>
        <th class="action-header text-center">
            <span data-original-title="Help" data-placement="top"
                  data-toggle="popover" data-trigger="click hover focus"
                  data-content="Hover or click on a row to access the action buttons located at the end of the row.">
                <i class="fa fa-info-circle"></i>
            </span>
        </th>
    </tr>
</thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>          
                <td>
                    @Html.DisplayFor(c => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(c => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(c => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(c => item.LowLimit)
                </td>
                <td>
                    @Html.DisplayFor(c => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(c => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(c => item.Age)
                </td>
                <td class="btn-toolbar-cell">                    
                        <div class="btn-toolbar hover-toolbar">
                            <div class="btn-group">
                                <a class="btn btn-default btn-xs" href="@Url.Action("Edit", new { id = item.ItemId })" title="Edit Item"><i class="fa fa-pencil">Edit</i></a>
                           </div>
                        </div>                    
                </td>
            </tr>
        }
    </tbody>
</table>    

<button class=".btn-default" id="btnsubmit">Submit</button>
